@model IEnumerable<DataAccess.ViewModels.CategoryViewModel>
@{
    ViewData["Title"] = "Categories";
    Layout = "_DataLayout";
}

<h1>Categories</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Link</th>
            <th scope="col">Direct link</th>
            <th scope="col">HTML Helper</th>
            <th scope="col">Tag Helper</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <th scope="row">@category.CategoryId</th>
                <td>@category.CategoryName</td>
                <td>@category.Description</td>
                <td>@Html.ActionLink("See/Edit image", "Image", new { id = category.CategoryId })</td>
                <td>@Html.RouteLink("Link",new { Controller = "Images", Action = $"{category.CategoryId}" }, new { id = category.CategoryId })</td>
                <td>@Html.NorthwindImageLink(category.CategoryId, "Link")</td>
                <td><a northwind-id="@category.CategoryId">Link</a></td>
            </tr>
        }
    </tbody>
</table>

@section Footer {
    <footer class="border-top footer text-muted">
        <div class="container">
            Properties of Categories are not editable. You can only change image of Category.
        </div>
    </footer>
}
